/*
 * main.css
 *
 *
 */


.toolbar	{
	background-color: #197BBD;
	z-index: 1;
}

.side-list-cal	{
	background-color: #ffffff;
	height: 100%;
}

.sidebar	{
	background-color: #fafafa;
	color: black;
    z-index:0;
}

.fade-enter-active,
.fade-leave-active
{

  /*transition: opacity .3s ease-in-out;*//*
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;*/
}

.fade-enter,
.fade-leave-to
{
  opacity: 0;
}
