/*
 * main.css
 *
 *
 */


.toolbar	{
	background-color: #197BBD;
	z-index: 1;
}

.side-list-cal	{
	background-color: #ffffff;
	height: 100%;
}

.sidebar	{
	background-color: #fafafa;
	color: black;
}
