/*
 * main.css
 *
 *
 */


@import url('https://fonts.googleapis.com/css?family=Nunito');

.toolbar	{
	background-color: #197BBD;
	z-index: 1;
}



.fade-enter-active,
.fade-leave-active
{

  /*transition: opacity .3s ease-in-out;*//*
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;*/
}

.fade-enter,
.fade-leave-to
{
  opacity: 0;
}
