/*
 * thelist.css
 *
 *
 */

.flip-list-move {
  transition: transform 0.5s;
  background-color: #0f0;
}
.flip-list  {
    background-color: #0f0;
}
.no-move {
  transition: transform 0s;
}
.button {
  margin-top: 35px;
}
.ghost {
  opacity: 0.2;

  border-radius: 10px;

  /*background: #c8ebfb;*/
}

.close {
  float: right;
  padding-top: 8px;
  padding-bottom: 8px;
}
input {
  display: inline-block;
  width: 50%;
}
.text {
  margin: 20px;
}

.list-group {
  min-height: 20px;

  /* Color behind the list draggable-rows */
  background-color: rgba(0,0,0,0);
  /*background-color: #cfc;*/


}


/*************************************************/
.list-all   {
    /*padding-top:    20px;
    padding-bottom: 20px;
    padding-right:  20px;*/
    background-color: #fafafa;

    padding-top: 	20px;
    padding-bottom: 20px;
    padding-left:	20px;
    padding-right: 	20px;

    border-radius: 5px;
}
.list-head	{
	margin: 0px;
	/*border-bottom: 1px solid rgba(0,0,0,0.125);*/
}
.list-body {
    background-color: #0f0;
    padding: 20px;
}

.draggable-row  {
    background-color: #ffffff;

    /*border-radius: 1px;*/
    /*border-bottom:  1px solid rgba(0,0,0,.125);*/
}

hr {
    background-color: #000;
    color: #000;
}
